/*
Creator: Aidan Smith
Date created: 30/11/2020
Date last modified: 30/11/2020
*/

body {
    background-color: #fef9ff;
    font-family: arial, helvetica, sans-serif;
    color: #0d1f2d;
    max-width: 900px;
    min-width: 600px;
    width: 100%;
    margin: 0 auto;
}

footer {
    background-color: #5b7d87;
    color: #fef9ff;
    height: 100px;
    text-align: center;
    padding: 30px 10px 20px 10px;
}

h1 {
    font-size: 2.5em;
}

nav {
  border-top: thin #5b7d87 solid;
  border-bottom: thin #5b7d87 solid;
  padding-top: 12px;
  padding-bottom: 12px;
}

nav a {
    background-color: #5b7d87;
    color: #fef9ff;
    padding: 8px;
    border: thin solid #0d1f2d;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 2px 2.5% 17px 2.5%;
    width: 18%;
    float:left;
}

nav .btn {
    background-color: #5b7d87;
    color: #fef9ff;
}

nav .btn:hover {
    font-weight: bold;
}

.clear-float {
  clear:both;
}

nav a:hover {
    background-color: #fef9ff;
    color: #5b7d87;
}

nav a:active {
    font-weight: bold;
}

nav a:visited {
    color: #e4c3ad;
}
