/*
  Name: Aidan Smith
  Assignment: Restaurant Site
  Date Created: 27/11/2020
  Most recent revision: 10/01/2021
*/

/*
  These styles are just for the contact us page, but make the html document neater
*/

label {
  display: inline-block;
  text-align: right;
  margin-right: 10px;
  margin-top: 5px;
}


.form-row {
  margin-top: 10px;
  margin-left:0
}

form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    width:80%;
}

.form {
  text-align:center;
  background-color: #D724F3;
  padding-top:20px;
  padding-bottom: 20px;
}

li {
  list-style-type:none;
}

ul {
  padding-left: 0; padding-top:5px; text-align:left;
}
