/*
  Name: Aidan Smith
  Assignment: Restaurant Site
  Date Created: 27/11/2020
  Most recent revision: 10/01/2021
*/

.news {
  height: 400px;
  background-color: lightblue;
}

.news h4, .news h2{
  padding-left: 10%;
}

.scene {
  position: relative;
  padding: 40px;
  margin: auto;
  z-index: 2;
  height:300px;
}

.scene .move {
  position: absolute;
  right: auto;
  width: 100%;
  background-position: center;
}

.scene .boat {
  background: url(../images/boat.png) no-repeat;
  background-size: auto 100%;
  height:100px;
  bottom: 20px;
}

.scene .cloud1 {
  background: url(../images/cloud1.png) no-repeat;
  background-size: auto 100%;
  height:100px;
  top: 30px;
}

.scene .cloud2 {
  background: url(../images/cloud2.png) no-repeat;
  background-size: auto 100%;
  height:100px;
  top: 20px;
}

.scene .wave {
  height:40px;
  margin-left: -40px;
  margin-right: -40px;
  width:150%;
}

.scene #near {
  background: url(../images/darkwave.png);
  background-size: 40px 100%;
  bottom: 0px;
}

.scene #middle {
  background: url(../images/wave.png);
  background-size: 40px 100%;
  bottom: 10px;
}

.scene #far {
  background: url(../images/lightwave.png);
  background-size: 40px 100%;
  bottom: 20px;
}

.scene .island {
  position: absolute;
  width: 100%;
  background: url(../images/island.png) no-repeat;
  background-size: auto 100%;
  height:150px;
  bottom: 0px;
  left: 40%;
}

#boat {
  left:-1000px;
}

.pin {
  position:absolute;
  font-size: 100px;
  left:40%;
  padding-left: 50px;
  color:black;
}

.scene:hover .pin {
  color:red;
}

.small {
    font-size: 25px;
    width: 30%;
    min-width: 250px;
}

.howtobox {
  height:2800px;
  position: relative;
}

.numberCircle {
    width: 80px;
    line-height: 80px;
    border-radius: 50%;
    text-align: center;
    font-size: 50px;
    border: 2px solid black;
    background-color: black;
}

.circle1 {
  color: pink;
}

.circle2 {
  color: #F38B24;
}

.circle3 {
  color: #D724F3;
}

.circle4 {
  color: #F3E924;
}

.rotate {
  writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  position: relative;
  left: -60px;
  top: 0;
  font-size: 60px;
  font-weight: 800;
  color: black;
  text-align: center;
}

#review-carousel .carousel-item a{
  color: black;
  font-size: 20px;
}

.fa-star {
  color: yellow;
}

.howto {
  position:fixed;
  width:10%;
}

#howto1 {
  top:1620px;
}

#howto2 {
  top:2220px;
}

#howto3 {
  top:2820px;
}

#howto4 {
  top:3420px;
}

.column {
  height:800px;
  width:10%;
  min-width:100px;
  padding-left:10px;
  cursor: pointer;
}

.hcentre {
  width:50%;
  margin:0;
  float:left;
}

#howtoback1 {
  height: 100%;
  width:100%;
  background-color: pink;
  padding-left:10%;
}

#howtoback2 {
  height:2200px;
  width: 90%;
  background-color: #F38B24;
  margin-left:20%;
}

#howtoback3 {
  height:1600px;
  width: 80%;
  background-color: #D724F3;
  margin-left:30%;
}

#howtoback4 {
  height:1000px;
  width: 70%;
  background-color: #F3E924;
  margin-left:40%;
}

.howtoback {
  position:absolute;
  bottom: 0;
}

.info {
    font-size: calc(80% + 1vw);
    font-family: helvetica;
    margin-left:100%;
    padding-left: 5%;
    margin-top:20px;
    width: 500%;
}

.info a{
  color: black;
}

.info a: hover{
  font-style: underline;
}
