/*
  Name: Aidan Smith
  Assignment: Restaurant Site
  Date Created: 27/11/2020
  Most recent revision: 10/01/2021
*/


body {
    font-family: helvetica, arial;
    color: black;
    min-width: 200px;
    width: 100%;
    margin: 0 auto;
    background-color: #fef9ff;
}


h1 {

font-family: "Brush Script MT", Georgia, serif;
font-size: 5em;
}

h2 {
  font-size: 2em;
}

h3 {
    font-size: 1em;
    font-weight: bold;
}

h4 {
    font-size: 40px;
    font-weight: bold;
    padding-top: 30px;
}

p{
  font-family: Arial, Helvetica, sans-serif
}

nav {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 10px;
  padding-left:8%;
  color:white;
  position:fixed;
  top: 530px;
  z-index: 10;
  width:100%;
}

nav .btn {
    font-size: 30px;
    margin-right:20px;
    width: 25%;
    max-width: 130px;
    color:white
}

nav .btn:hover:before{
    font-size: 20px;
    font-weight: normal;
    font-family: sans-serif;
}

#home:hover:before {content:"Home"}
#menu:hover:before {content:"Menu"}
#contact:hover:before {content:"Contact us"}


.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
  z-index:2;
  position: relative;
}

.section {
  position: relative;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
  height: 200%;
  width: 110%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% center;
}


.bg1::after {
  background-image: url('../images/bbq.jpg');
}

.bg2::after {
  background-image: url('../images/kitchen.jpg');
}

.bg3::after {
  background-image: url('../images/floor.jpg');
}

.darken, .darken2{
  position: relative;
}

.darken:after, .darken2::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
}

.darken::after{
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}

.darken2::after{
  background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%);
}

.darken-text h1, .darken-text h2, .darken-text a, .darken-text p, .darken-text h3 {
  margin: 0;
  color: white;
  position: relative;
  z-index: 2;
}

.fill {
  height:100%;
  width:100%;
}

.sticky {
  z-index: 10;
  height:70px;
  background-color: black;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
}

.carousel {
  position: relative;
  height:300px;
  padding-left:10%;
  padding-right:10%;
}

.carousel-item:hover a{
  font-style: underline;
  color:black;
}

.carousel-indicators .colour {
  background-color: grey;
}

.carousel {
  z-index: 1;
}

.carousel-indicators .active {
  background-color:black;
}

.fix-bottom {
  position: absolute ;
  bottom:0;
  margin-bottom: 40px;
}

.left {
  margin-left: 10%;
}

.right {
  right: 10%;
  font-size: 20px;
}

#news-carousel .carousel-item, #news-carousel .carousel-item a{
  background-color:lightblue;
  height:300px;
  padding-top: 130px;
  color:black;
}

#news-carousel .carousel-inner{
  background-color:lightblue;
  font-size: calc(80% + 1vw);
  font-family: helvetica;
}

#news-carousel .christmas {
  background-color:red;
}

.page-title {
  height:200px;
  background-color: black;
  color: white;
  padding-left: 10%;
  padding-top: 30px;
  font-size: 40px;
}
