/*
Creator: Aidan Smith
Date created: 30/11/2020
Date last modified: 30/11/2020
*/

body {
    font-family: helvetica, arial;
    color: #0d1f2d;
    min-width: 200px;
    width: 100%;
    margin: 0 auto;
    background-color: #fef9ff;
}


h1 {
    font-family: courier, helvetica, arial;
    font-size: 2.5em;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1em;
    font-weight: bold;
}

h4 {
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 30px;
}

nav {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 10px;
  padding-left:5%;
  color:white;
  position:fixed;
  top: 530px;
  z-index: 1;
}

nav .btn {
    font-size: 30px;
    margin-right:20px;
}

nav .btn:hover:before{
    font-size: 20px;
    font-weight: normal;
}

#home{width: 130px;}
#menu{width: 130px;}
#contact{width: 130px;}

#home:hover:before {content:"Home"}
#menu:hover:before {content:"Menu"}
#contact:hover:before {content:"Contact Us"}

nav .btn:visited{
    color: #fef9ff;
}

.clear-float {
  clear:both;
}


.wrapper {
  height: 100vh;
  overflow-x: hidden;
  perspective: 2px;
}
.section {
  position: relative;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
  height: 200%;
  width: 110%;
}


.bg1::after {
  background-image: url('../images/bbq.jpg');
}

.bg2::after {
  background-image: url('../images/kitchen.jpg');
}

.darken-pseudo, .darken-pseudo2{
  position: relative;
}

.darken-pseudo:after, .darken-pseudo2::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
}

.darken-pseudo::after{
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}

.darken-pseudo2::after{
  background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%);
}

.darken-with-text h1, .darken-with-text h2, .darken-with-text a, .darken-with-text p {
  margin: 0;
  font-size: 2em;
  color: white;
  position: relative;
  z-index: 1;
}

.fill {
  height:100%;
  width:100%;
}

.sticky {
  z-index: 1;
  height:70px;
  background-color: black;
  width:103.9%;
}

.news {
  height: 400px;
  background-color: lightblue;
}

.news h4, .news h2{
  padding-left: 10%;
}

.scene {
  position: relative;
  padding: 40px;
  margin: auto;
  z-index: 2;
  height:300px;
}

.scene .move {
  position: absolute;
  right: auto;
  width: 100%;
  background-position: center;
}

.scene .boat {
  background: url(../images/boat.png) no-repeat;
  background-size: auto 100%;
  height:100px;
  bottom: 20px;
}

.scene .wave {
  height:40px;
  margin-left: -40px;
  margin-right: -40px;
  width:150%;
}

.scene #near {
  background: url(../images/darkwave.png);
  background-size: 40px 100%;
  bottom: 0px;
}

.scene #middle {
  background: url(../images/wave.png);
  background-size: 40px 100%;
  bottom: 10px;
}

.scene #far {
  background: url(../images/lightwave.png);
  background-size: 40px 100%;
  bottom: 20px;
}

.scene .island {
  position: absolute;
  width: 100%;
  background: url(../images/island.png) no-repeat;
  background-size: auto 100%;
  height:150px;
  bottom: 0px;
  left: 40%;
}

#boat {
  left:-1000px;
}

.pin {
  position:absolute;
  font-size: 100px;
  left:40%;
  padding-left: 50px;
}

.scene:hover .pin {
  color:black;
}
